.blog-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  align-items: center;
}

.blog-container h1 {
  font-size: 2.5rem;
  color: #0077cc;
  margin-bottom: 1rem;
}

.blog-container .intro {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1rem;
}

.blog-container .update {
  font-size: 1rem;
  color: #555;
}

